{{ define "title" }}TV Thailand - Bot Video{{ end }}
<link rel="stylesheet" href="/static/chosen/chosen.min.css" />
<script src="/static/chosen/chosen.jquery.min.js" type="text/javascript"></script>
<script type="text/javascript"> $(".chzn-select").chosen(); $(".chzn-select-deselect").chosen({allow_single_deselect:true}); </script>
<script type="text/javascript">
  $(function(){
    $("#btn_update").hide();
    $(".chzn-select").chosen();
    $("#search_time").val($.now());

    var $sumId = $("#sumId");
    $(".txt_video_id").click(function(){
      var $videoId = $(this);
      $videoId.select();
      var sumId = $sumId.val()
      if ($sumId.val() == "") {
        sumId = $videoId.val();
      } else {
        sumId = $sumId.val() + "," + $videoId.val();
      }
      $sumId.val(sumId)

      var title = $videoId.closest("tr").find("td:eq(2)").text().trim();
  		$("#inputTitle").val(title);

      var urlUpdate = "http://tv-cms.makathon.com/bookmarktv.php?id=" + sumId + "&title=" + title;
      $("#btn_update").attr("href", urlUpdate);
      $("#btn_update").show();
    });

    $("#btn_clear").click(function(){
      $sumId.val("");
      $("#btn_update").hide();
    });

    $("#cb_bot_video").click(function(){
      $('.cb_bot_video').prop('checked', $(this).prop('checked'));
    });
  });
</script>

<div class="jumbotron">
  <div class="container">
    <fieldset>
      <legend><a href="/admin/botvideo">Bot Video</a>
        <div class="pull-right">
        <a target="_blank" class="btn btn-default" href="http://tv-cms.makathon.com/bookmarktv">Link</a>
        <a target="_blank" class="btn btn-default" href="http://tv.makathon.com/index.php/api/clearCache">Clear Cache</a>
      </div>
      </legend>
      <form class="form-horizontal" role="form" method="GET" action="/admin/botvideo">
      <div class="form-group">
        <label for="inputUsername" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
          <select id="inputUsername" name="username" class="chzn-select" style="width:350px;" data-placeholder="Choose a Username...">
            <option value="all">All</option>
            {{range .botUsers}}
              <option value="{{.Username}}" {{if .IsSelected}} selected="selected" {{end}}>{{.Description}} - {{.Username}}</option>
            {{end}}
          </select>

          <select id="inputStatus" name="status">
            {{range .botStatuses}}
              <option value="{{.Id}}" {{if .IsSelected}} selected="selected" {{end}}>{{.Name}}</option>
            {{end}}
          </select>

          <input type="submit" class="btn btn-default" value="Search" />
        </div>
      </div>
      <input type="hidden" id="search_time" name="time" value="" />
    </form>
    <br />
    <h4></h4>
    <form class="form-horizontal" role="form" method="POST" action="/admin/botvideo">
      <input type="hidden" name="username" value="{{.formSearch.Username}}" />
      <input type="hidden" name="status" value="{{.formSearch.Status}}" />

      <div class="form-group">
        <label for="inputTitle" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputTitle" placeholder="Title">
        </div>
      </div>
      <div class="form-group">
        <label for="sumId" class="col-sm-2 control-label">Sum Id</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="sumId" placeholder="Sum Id">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <a class="btn btn-success" id="btn_update" target="_blank" href="" >Update</a>
          <input type="button" class="btn btn-warning" id="btn_clear" value="Clear" />
        </div>
      </div>
      <br />
      <label>Change status to : </label>
      <input type="submit" class="btn btn-danger" name="update_status" value="Rejected" />
      <input type="submit" class="btn btn-primary" name="update_status" value="Waiting" />
      <input type="submit" class="btn btn-info" name="update_status" value="Updated" />
      <table class="table table-striped">
        <thead>
            <th><input type="checkbox" id="cb_bot_video" /></th>
            <th>Username</th><th>Title</th><th>VideoId</th>
            <th><span class="glyphicon glyphicon-play-circle"></span></th>
            <th>Published</th>
            <th><span class="glyphicon glyphicon-thumbs-up"></span></th>
        </thead>
        {{range .botVideos}}
          <tr>
            <td><input type="checkbox" class="cb_bot_video" name="bot_video[]" value="{{.Id}}"/></td>
            <td><a target="_blank" href="http://www.thetvthailand.com/cms/findvideo/?url=https://www.youtube.com/{{.UserType}}/{{.Username}}/videos">{{.Description}}</a>
              <a href="/admin/botvideo?username={{.Username}}&status={{.Status}}"><span class="glyphicon glyphicon-th-list"></span>
            </td>
            <td>{{.Title}}</td><td><input type="text" class="txt_video_id" size="10" value="{{.VideoId}}" /></td>
            <td><a target="_blank" href="https://www.youtube.com/watch?v={{.VideoId}}"><span class="glyphicon glyphicon-play-circle"></span></a></td>
            <td>{{.Published}}</td>
            <td><a target="_blank" href="http://tv-cms.makathon.com/bookmarktv.php?url=http://www.youtube.com/watch?v={{.VideoId}}"><span class="glyphicon glyphicon-thumbs-up"></span></a>
          </tr>
        {{end}}
      </table>
    </form>
  </div>
</div>
