{[{ define "title" }]}TV Thailand - Bot Video{[{ end }]}
<script>
$(function(){
  $(".chosen-select").chosen();
});

var tvModule = angular.module('TVThailand', []);
tvModule.controller('BotVideoCtrl', function ($scope, $http) {
    $scope.toggleSelected = false;
    $scope.status = {[{.formSearch.Status}]};
    $scope.q = "";
    $scope.sumID = "";
    $scope.srcType = 0;
    $scope.countSumID = 0;
    $scope.videos = [];
    $scope.isNext = false;
    $scope.isLoading = false;
    $scope.nextPage = 1;
    $scope.programId = 0;

    $scope.setSumID = function(video){
      $scope.programId = video.programId;
      if($scope.sumID.length > 0) {
        $scope.sumID += ","
      }
      $scope.sumID += video.videoId;
      $scope.sumTitle = video.title.replace(/&quot;/g, "").replace(/&#39;/g, "");
      $scope.countSumID = $scope.sumID.split(",").length
      if (video.videoType == "youtube") {
        $scope.srcType = 0;
      } else if (video.videoType == "url") {
        $scope.srcType = 11;
      }
    };
    $scope.clearSum = function() {
      $scope.sumTitle = "";
      $scope.sumID = "";
      $scope.countSumID = 0;
    };

    $scope.clearKeyword = function() {
      $scope.q = "";
    };

    $scope.loadData = function(page) {
      if(page == 0) $scope.clearSum();
      $scope.isNext = false;
      $scope.isLoading = true;
      $http.get('/admin/botvideo.json', { params:{
                                            channelId: $scope.channelId,
                                            status: $scope.status,
                                            q: $scope.q,
                                            page: page,
                                            isOrderTitle: $scope.isOrderTitle,
                                            time: Date.now()}}).
        error(function(){
          $scope.isLoading = false;
          $scope.isNext = (page > 0);
        }).
        success(function(data){
          $scope.isLoading = false;
          if (data.currentPage == 0) {
            $scope.videos = [];
          }

          angular.forEach(data.videos, function(video) {
            video.selected = false;
            $scope.videos.push(video)
          });

          if(data.maxPage > data.currentPage) {
            $scope.isNext = true;
            $scope.nextPage = data.currentPage+1;
          } else {
            $scope.isNext = false;
          }
        });
    };

    $scope.linkUpdate = function(video) {
      var paramProgramID = "";
      var title = video.title.replace(/&quot;/g, "").replace(/&#39;/g, "");

      if (video.programId > 0) {
        paramProgramID = "&program_id=" + video.programId;
      }
      if (video.videoType == "youtube") {
        return "http://tv-cms.makathon.com/bookmarktv.php?src_type=0&url=http://www.youtube.com/watch?v=" + video.videoId + "&title=" + title + paramProgramID;
      }
      return "http://tv-cms.makathon.com/bookmarktv.php?src_type=11&id=" + video.videoId + "&title=" + title + paramProgramID;
    };

    $scope.linkWatch = function(video) {
      if (video.videoType == "youtube") {
        return "https://www.youtube.com/watch?v=" + video.videoId;
      }
      return video.videoId;
    };

    $scope.selectUsername = function(video) {
      $("#inputUsername_chosen span").html(video.description + " - " + video.channelId);
      $scope.channelId = video.channelId;
      $scope.loadData();
    };

    $scope.wrapUpVideoID = function() {
      $scope.clearSum();
      for(i = $scope.videos.length - 1; i > -1; i--) {
        var video = $scope.videos[i];
        if(video.selected) {
          $scope.setSumID(video);
        }
      }

    };

    $scope.wrapDownVideoID = function() {
      $scope.clearSum();
      for(i = 0; i < $scope.videos.length; i++) {
        var video = $scope.videos[i];
        if(video.selected) {
          $scope.setSumID(video);
        }
      }

    };

    $scope.toggleCheckAll = function() {
      angular.forEach($scope.videos, function(video){
        video.selected = $scope.toggleSelected;
      });
    };

    $scope.loadData();
  });

</script>
<div ng-controller="BotVideoCtrl" data-ng-init="channelId = '{[{.formSearch.ChannelID}]}'" class="jumbotron">
  <div class="container">
    <fieldset>
      <legend><a href="/admin/botvideo">Bot Video</a>
        <div class="pull-right">
        <a target="_blank" class="btn btn-default" href="http://tvthailand-api.herokuapp.com/admin/otv">O</a>
        <a target="_blank" class="btn btn-default" href="http://tv-cms.makathon.com/bookmarktv.php">B</a>
        <a target="_blank" class="btn btn-default" href="http://tv-cms.makathon.com/program">P</a>
        <a target="_blank" class="btn btn-default" href="http://tv-cms.makathon.com/mthaiapi.php">M</a>
        <a target="_blank" class="btn btn-default" href="http://tv-cms.makathon.com/bookmarktv">Link</a>
        <a target="_blank" class="btn btn-default" href="http://tv.makathon.com/index.php/api/clearCache">Clear Cache</a>
      </div>
      </legend>
      <form class="form-horizontal" role="form" method="GET" action="/admin/botvideo">
      <div class="form-group">
        <label for="inputUsername" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
          <select id="inputUsername" name="channelId" ng-model="channelId" ng-change="loadData(0)" class="chosen-select" style="width:350px;">
            <option value="">All</option>
            {[{range .botUsers}]}
              <option value="{[{.ChannelID}]}" {[{if .IsSelected}]} selected="selected" {[{end}]}>{[{.Description}]} - {[{.ChannelID}]}</option>
            {[{end}]}
          </select>

          <select id="inputStatus" name="status" ng-model="status" ng-change="loadData(0)" >
            {[{range .botStatuses}]}
              <option value="{[{.ID}]}" {[{if .IsSelected}]} selected="selected" {[{end}]}>{[{.Name}]}</option>
            {[{end}]}
          </select>
            <input type="button" ng-click="loadData(0)" class="btn btn-default" value="Search" />
            <a class="btn btn-success" id="btn_youtube_api" target="_blank"  ng-show="channelId" href="http://tv-cms.makathon.com/ytapi.php?channelId={{channelId}}">Youtube API</a>
        </div>
      </div>
      <div class="form-group">
        <label for="inputKeyword" class="col-sm-2 control-label">Keyword</label>
        <div class="col-sm-10">
        <input type="text" id="inputKeyword" class="col-sm-4" ng-model="q" ng-keyup="$event.keyCode == 13 && loadData(0)" />
        <div class="col-sm-2">
        <input type="button" ng-click="clearKeyword()" class="btn btn-warning" id="btn_clear_keyword" value="Clear" />
        </div>
        <div class="col-sm-4">
          <input type="checkbox" id="InputIsOrderTitle" ng-model="isOrderTitle" value="true" />
          <label for="InputIsOrderTitle">Order Title</label>
        </div>
        </div>
      </div>
    </form>
    </fieldset>
    <br />
    <h4></h4>
    <form class="form-horizontal" role="form" method="POST" action="/admin/botvideo">
      <input type="hidden" name="channelId" value="{{channelId}}" />
      <input type="hidden" name="status" value="{{status}}" />

      <div class="form-group">
        <label for="inputTitle" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
          <input type="text" ng-model="sumTitle" class="form-control" id="inputTitle" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label for="sumID" class="col-sm-2 control-label">Sum ID [ {{countSumID}} ]</label>
        <div class="col-sm-10">
          <input type="text" ng-model="sumID" class="form-control" id="sumID" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <a class="btn btn-success" id="btn_update" target="_blank" href="http://tv-cms.makathon.com/bookmarktv.php?id={{sumID}}&amp;title={{sumTitle}}&amp;src_type={{srcType}}&amp;program_id={{programId}}" ng-show="sumID">Update</a>
          <input type="button" ng-click="clearSum()" class="btn btn-warning" id="btn_clear" value="Clear" />
        </div>
      </div>
      <br />
      <input type="submit" class="btn btn-danger" name="update_status" value="Rejected" />
      <input type="button" class="btn btn-success" value="Wrap Up" ng-click="wrapUpVideoID()" />
      <input type="button" class="btn btn-warning" value="Wrap Down" ng-click="wrapDownVideoID()" />
      <span style="margin-left:20px"></span>
      <input type="submit" class="btn btn-primary" name="update_status" value="Waiting" />
      <input type="submit" class="btn btn-info" name="update_status" value="Updated" />
      <input type="submit" class="btn btn-warning" name="update_status" value="Suspended" />
      <a href="#bottom" class="btn btn-default pull-right" >Bottom</a>
      <table class="table table-striped">
        <thead>
            <th><input type="checkbox" id="cb_bot_video" ng-model="toggleSelected" ng-change="toggleCheckAll()" /></th>
            <th>User</th><th>Title</th><th>VideoID</th>
            <th><span class="glyphicon glyphicon-play-circle"></span></th>
            <th>Published</th>
            <th><span class="glyphicon glyphicon-thumbs-up"></span></th>
        </thead>
          <tr ng-repeat="video in videos">
            <td><input type="checkbox" class="cb_bot_video" name="bot_video[]" value="{{video.id}}" ng-model="video.selected" /></td>
            <td><a target="_blank" href="http://tv-cms.makathon.com/ytapi.php?channelId={{video.channelId}}">{{video.description}}</a>
              <a target="_blank" href="https://www.youtube.com/channel/{{video.channelId}}/videos"><span class="glyphicon glyphicon-new-window"></span></a>
              <a href="#"><span class="glyphicon glyphicon-th-list" ng-click="selectUsername(video)"></span></a>
            </td>
            <td>{{video.title}}</td>
            <td><input type="text" ng-click="setSumID(video); style='selected-text'" ng-class="style" size="10" value="{{video.videoId}}" /></td>
            <td><a target="_blank" href="{{linkWatch(video)}}"><span class="glyphicon glyphicon-play-circle"></span></a></td>
            <td>{{video.publishedAt | limitTo:16}}</td>
            <td><a target="_blank" href="{{linkUpdate(video)}}"><span class="glyphicon glyphicon-thumbs-up"></span></a></td>
          </tr>
      </table>
      <div class="row">
        <div class="col-md-2 col-md-offset-5">
          <input type="button" ng-click="loadData(nextPage)" ng-show="isNext" class="btn btn-default" value="Load More..." />
          <img ng-show="isLoading" src="/static/images/loading.gif" />
        </div>
        <a href="#" class="btn btn-default pull-right" >Top</a>
        <div id="bottom"></div>
    </form>
  </div>
</div>
