{[{ define "title" }]}TV Thailand - Bot Video{[{ end }]}
<script>
$(function(){
  $(".chosen-select").chosen();

  $("#cb_bot_video").click(function(){
    $('.cb_bot_video').prop('checked', $(this).prop('checked'));
  });
});

var tvModule = angular.module('TVThailand', []);
tvModule.controller('BotVideoCtrl', function ($scope, $http) {
    $scope.status = {[{.formSearch.Status}]};
    $scope.sumId = "";
    $scope.countSumId = 0;
    $scope.videos = [];
    $scope.isNext = false;
    $scope.isLoading = false;

    $scope.nextPage = 1;

    $scope.setSumId = function(video){
      if($scope.sumId.length > 0) {
        $scope.sumId += ","
      }
      $scope.sumId += video.VideoId;
      $scope.sumTitle = video.Title;
      $scope.countSumId = $scope.sumId.split(",").length
    };
    $scope.clearSum = function(){
      $scope.sumTitle = "";
      $scope.sumId = "";
      $scope.countSumId = 0;
    };

    $scope.loadData = function(page){
      if(page == 0) $scope.clearSum();
      $scope.isNext = false;
      $scope.isLoading = true;
      $http.get('/admin/botvideo.json', { params:{
                                            username: $scope.username,
                                            status: $scope.status,
                                            page: page,
                                            time: Date.now()}}).
        error(function(){
          $scope.isLoading = false;
          $scope.isNext = (page > 0);
        }).
        success(function(data){
          $scope.isLoading = false;
          if (data.CurrentPage == 0) {
            $scope.videos = data.Videos;
          } else {
            angular.forEach(data.Videos, function(video) {
              $scope.videos.push(video)
            });
          }

          if(data.MaxPage > data.CurrentPage) {
            $scope.isNext = true;
            $scope.nextPage = data.CurrentPage+1;
          } else {
            $scope.isNext = false;
          }
        });
    };

    $scope.linkUpdate = function(video){
      var paramProgramId = ""
      if (video.ProgramId > 0) {
        paramProgramId = "&program_id=" + video.ProgramId;
      }
      return "http://tv-cms.makathon.com/bookmarktv.php?url=http://www.youtube.com/watch?v=" + video.VideoId + paramProgramId;
    };

    $scope.selectUsername = function(video){
      $("#inputUsername_chosen span").html(video.Description + " - " + video.Username);
      $scope.username = video.Username;
      $scope.loadData();
    };

    $scope.loadData();
  });

</script>
<div ng-controller="BotVideoCtrl" data-ng-init="username = '{[{.formSearch.Username}]}'" class="jumbotron">
  <div class="container">
    <fieldset>
      <legend><a href="/admin/botvideo">Bot Video</a>
        <div class="pull-right">
        <a target="_blank" class="btn btn-default" href="http://tv-cms.makathon.com/bookmarktv">Link</a>
        <a target="_blank" class="btn btn-default" href="http://tv.makathon.com/index.php/api/clearCache">Clear Cache</a>
      </div>
      </legend>
      <form class="form-horizontal" role="form" method="GET" action="/admin/botvideo">
      <div class="form-group">
        <label for="inputUsername" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
          <select id="inputUsername" name="username" ng-model="username" ng-change="loadData(0)" class="chosen-select" style="width:350px;">
            <option value="">All</option>
            {[{range .botUsers}]}
              <option value="{[{.Username}]}" {[{if .IsSelected}]} selected="selected" {[{end}]}>{[{.Description}]} - {[{.Username}]}</option>
            {[{end}]}
          </select>

          <select id="inputStatus" name="status" ng-model="status" ng-change="loadData(0)" >
            {[{range .botStatuses}]}
              <option value="{[{.Id}]}" {[{if .IsSelected}]} selected="selected" {[{end}]}>{[{.Name}]}</option>
            {[{end}]}
          </select>

          <input type="button" ng-click="loadData(0)" class="btn btn-default" value="Search" />
        </div>
      </div>
    </form>
    <br />
    <h4></h4>
    <form class="form-horizontal" role="form" method="POST" action="/admin/botvideo">
      <input type="hidden" name="username" value="{{username}}" />
      <input type="hidden" name="status" value="{{status}}" />

      <div class="form-group">
        <label for="inputTitle" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
          <input type="text" ng-model="sumTitle" class="form-control" id="inputTitle" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label for="sumId" class="col-sm-2 control-label">Sum Id [ {{countSumId}} ]</label>
        <div class="col-sm-10">
          <input type="text" ng-model="sumId" class="form-control" id="sumId" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <a class="btn btn-success" id="btn_update" target="_blank" href="http://tv-cms.makathon.com/bookmarktv.php?id={{sumId}}&amp;title={{sumTitle}}" ng-show="sumId">Update</a>
          <input type="button" ng-click="clearSum()" class="btn btn-warning" id="btn_clear" value="Clear" />
        </div>
      </div>
      <br />
      <label>Change status to : </label>
      <input type="submit" class="btn btn-danger" name="update_status" value="Rejected" />
      <input type="submit" class="btn btn-primary" name="update_status" value="Waiting" />
      <input type="submit" class="btn btn-info" name="update_status" value="Updated" />

      <table class="table table-striped">
        <thead>
            <th><input type="checkbox" id="cb_bot_video" /></th>
            <th>Username</th><th>Title</th><th>VideoId</th>
            <th><span class="glyphicon glyphicon-play-circle"></span></th>
            <th>Published</th>
            <th><span class="glyphicon glyphicon-thumbs-up"></span></th>
        </thead>
          <tr ng-repeat="video in videos">
            <td><input type="checkbox" class="cb_bot_video" name="bot_video[]" value="{{video.Id}}"/></td>
            <td><a target="_blank" href="http://www.thetvthailand.com/cms/findvideo/?url=https://www.youtube.com/{{video.UserType}}/{{video.Username}}/videos">{{video.Description}}</a>
              <a href="#"><span class="glyphicon glyphicon-th-list" ng-click="selectUsername(video)"></span></a>
            </td>
            <td>{{video.Title}}</td><td><input type="text" ng-click="setSumId(video); style='selected-text'"  ng-class="style" size="10" value="{{video.VideoId}}" /></td>
            <td><a target="_blank" href="https://www.youtube.com/watch?v={{video.VideoId}}"><span class="glyphicon glyphicon-play-circle"></span></a></td>
            <td>{{video.Published}}</td>
            <td><a target="_blank" href="{{linkUpdate(video)}}"><span class="glyphicon glyphicon-thumbs-up"></span></a></td>
          </tr>
      </table>
      <div class="row">
        <div class="col-md-2 col-md-offset-5">
          <input type="button" ng-click="loadData(nextPage)" ng-show="isNext" class="btn btn-default" value="Load More..." />
          <img ng-show="isLoading" src="/static/images/loading.gif" />
        </div>
      </div>
    </form>
  </div>
</div>
