<div class="jumbotron">
  <div class="container">
    <h1>Encrypt</h1>
    <form method="post" action="">
      <input type="radio" name="idType" value="mthaiparseurl" checked> MThai Parse Url<br />
      -<br />
      <input type="radio" name="idType" value="empty"> All Empty<br />
      -<br />
      <input type="radio" name="idType" value="showid"> Show ID<br />
      <input type="radio" name="idType" value="listid"> List ID<br />
      <label for="">Id</label> : <input name="id" value='{[{.showid}]}' /><br />
      <input type="submit" class="btn btn-primary btn-lg" role="button" value="Submit">
    </form>
    <h3>{[{.message}]}</h3>
    <ul>
      {[{range .results}]}
      <li>{[{.ShowID}]} {[{.ListID}]} {[{.VideoID}]}</li>
      {[{end}]}
    </ul>
  </div>
</div>
